* {
	font-family: Arial, Helvetica, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
	width: 0px;
	@apply rounded-full;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	width: 10px;
	@apply rounded-full bg-opacity-80 bg-violet-600;
}

/* style for scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
	@apply rounded-full bg-opacity-80 bg-white;
}
.smokeBG {
	background-image: url("./smokebg.jpg");
}
.athletebg {
	background-image: url("./athlete.jpg");
	@apply bg-center bg-cover;
}
.numanbg {
	background-image: url("../public/numan.jpg");
	@apply bg-center bg-cover;
}
.bgimage {
	background-image: url("./bg.jpg");
	@apply bg-cover bg-center w-full;
}

.aboutimage {
	background-image: url("./about.png");
	@apply bg-center bg-cover;
}

.dashboardbg {
	background-image: url("../public/dashboardbg.jpg");
}
.glassbg {
	background-image: url("../public/glassbg.jpg");
	@apply bg-center bg-cover;
}

@tailwind base;
@tailwind components;

.glassmorphism {
	@apply bg-opacity-10 bg-clip-padding backdrop-blur-lg backdrop-filter bg-white;
}

@tailwind utilities;
